<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>opencover</Format>
          <Include>[CopyPaste.Core]*,[CopyPaste.Listener]*,[CopyPaste.App]*</Include>
          <Exclude>[CopyPaste.Core.Tests]*,[CopyPaste.Listener.Tests]*,[CopyPaste.UI.Tests]*,[xunit.*]*,[Microsoft.*]*</Exclude>
          <ExcludeByFile>**/AssemblyInfo.cs,**/GlobalSuppressions.cs,**/*.g.cs,**/*.designer.cs</ExcludeByFile>
          <ExcludeByAttribute>System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute,System.CodeDom.Compiler.GeneratedCodeAttribute,System.Runtime.CompilerServices.CompilerGeneratedAttribute</ExcludeByAttribute>
          <SingleHit>false</SingleHit>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
